.features {
  text-align: center;
  margin-block: 4rem;
}

.features-header p {
  color: var(--color-text-muted);
}

/* GRID RESPONSIVE */
.features-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* CARD */
.feature {
  background: var(--color-surface);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* ICONO */
.feature svg {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: var(--radius-full);
  background: var(--color-bg);
  stroke: var(--color-primary);
}

/* TITULO */
.feature h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
}

/* TEXTO */
.feature p {
  color: var(--color-text-muted);
}
