.hero {
  /*Imagen de fondo para el hero*/
  background: url("./background.webp") no-repeat center;

  /*Altura minima para el hero*/
  min-height: 50vh;

  /*Centramos y damos espacios*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /*Evitamos que se toquen los bordes*/
  padding-block: 1rem;

  /*Color del texto*/
  color: var(--color-text);
}

.hero-title {
  font-size: clamp(3.5rem, 4vw, 3rem);
  font-weight: 800;
  max-width: 1200px;
}

.hero-subtitle {
  font-size: 1.5rem;
  max-width: 600px;
  opacity: 0.9;
}

.hero-search {
  margin-top: 1rem;
}
.search-field {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background: var(--color-surface);
  backdrop-filter: blur(6px);

  padding: 0.8rem 1rem;
  border-radius: var(--radius-md);

  max-width: 550px;
}

.search-field svg {
  width: 60px;
  height: 20px;
  stroke: var(--color-text-muted);
}

.search-field input {
  background: transparent;
  border: none;
  color: var(--color-text);
  font-size: 1rem;
  width: 700px;
}

.search-field input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-field button {
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: var(--radius-sm);
  font-weight: 600;
  cursor: pointer;
}

.search-field button:hover {
  background: var(--color-primary-strong);
}
