/*-------- JOB LIST --------*/

.jobs-list {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
}

.jobs-list-title h2 {
  font-size: 2rem;
}

.jobs-list-container ul {
  list-style: none;
}

.jobs-list-container li {
  margin-bottom: var(--space-md);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.jobs-list-container article {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--color-bg-muted);
  padding: 0px var(--space-sm);
}

.title-bottom {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.title-bottom h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.title-bottom button {
  background: var(--color-primary);
  color: var(--color-text);
  border-radius: var(--radius-sm);
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.title-bottom button:hover {
  background: var(--color-primary-strong);
  cursor: pointer;
}

.title-bottom button:active {
  background: var(--color-button-click);
}

.props {
  display: flex;
  gap: 8px;
}

.props p {
  color: var(--color-text-muted);
  font-size: large;
}

.props p:nth-child(2) {
  opacity: 0.5;
}
